<div class="event-inside is-flex is-flex-direction-column is-align-items-center">
  <h1 class="is-size-4 has-text-weight-bold">Upcoming Events </h1>
  <article>
    <span>02.07.21 - 04.07.21</span>
    <p> CS:GO – DreamHack Summer 2021 </p>
  </article>
</div>