<div class="main-text">
  <h1 class="is-size-5 has-text-weight-bold has-text-accent ml-2"><%= link_to @most_popular.title, article_path(@most_popular) %></h1>
  <p class="has-text-weight-bold ml-2 articles-news-main"><%= @most_popular.text %></p>
</div>