/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

$main: #4E443E;
$accent: #F86309;

body { margin-top: 70px; }

a,
a:active {
  color: inherit;
  text-decoration: none;
}

.is-main {
  background-color: $main;
  color: white;
}

.has-text-main { color: $main; }

.is-accent{
background-color: $accent;
color: white;
}

.has-text-accent { color: $accent; }

.is-navbar {
  background-color: white;
  color: $accent;
}

.is-navbar:hover { color: $main; }

.button {
  border: hidden;
  font-weight: 700;
}