<div class="event-inside is-flex is-flex-direction-column p-6">
  <p class="is-size-4 has-text-weight-bold">Upcoming Events </p>
  <%# <article class="my-2">
    <span>02.07 - 04.07</span> 
    <p  class="is-size-5 has-text-weight-semibold">CS:GO – DreamHack Summer 2021</p>
  </article>
  <article class="my-2">
    <span>05.08 - 15.08</span> 
    <p  class="is-size-5 has-text-weight-semibold">Dota 2 – The International 2021</p>
  </article> %>
  <%= show_events(Category.find(2)) %>
</div>
