<p id="notice"><%= notice %></p>

<div class="show-container has-text-main columns">
  <div class="column is-10 is-offset-1">
    <%= link_to 'All categories:', categories_path, class: 'has-text-accent has-text-weight-bold is-size-4' %>
    <br>
    <br>
    <%= show_all_categories %>
  </div>
</div>
