<div class="columns my-6">
  <div class="column is-10 is-offset-1 has-background-white p-6 is-flex is-flex-direction-column">
    <h1 class="has-text-accent has-text-weight-bold is-size-4 mb-4"><%= @category.name %></h1>
    <article><%= show_article(@category) %></article>
    <article><%= no_recent %></article>
  </div>
</div>
